*{
    margin: 0;
    padding: 0;
}

.head {
    display: flex ;
}

.heading {
    background-color: coral;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
}

.btn {
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
    width: 100lvh;
    margin-right: -30px;
}

.align{
    display: flex;
    /* width: 100lvh; */
    justify-content: space-around;
    margin-left: -20px;
}